
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.title{
    text-align: center;
    font-size: 30px;
}
.box{
    text-align: center;
    
}
input{
    border-radius: 5px;
    padding: 15px;
    
}

.submit{
    text-align: center;
}
